*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
}

html,
body {
    height: 100vh;
    width: 100%;
    background-color: #313131;
}

#nav{
    height: 10vh;
    color: #D9D5C7;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1vw;
    padding-left: 2vw;
    position: relative;
}
#nav a{
    text-decoration: none;
    color: #D9D5C7;
    font-size: 30px;
    font-weight: 800;
}
#nav button{
    padding: 10px 15px;
    width: 100%;
    border-radius: 10px;
    background-color: #D9D5C7;
    border: none;
    border-color: #D9D5C7;
    color: #313131;   
    font-size: 15px; 
    font-weight: 900;
}
#nav #reg-event button:hover{
    text-decoration:underline;
}
#nav i{
    font-size: larger;
    font-weight: 900;
}
#right-tab {
    height: 100%;
    width: 20%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 10vh;
}
#user-signup{
    min-height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:flex-start;
    border-radius: 30px;
    width: 50%;
    background-color: #D9D5C7;
}
#user-signup h1{
    color: #313131;
    font-size: 40px;
    font-weight: 900;
}
#heading{
    padding-top: 8vh;
}
#details{
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 79%;
    padding: 3% 30%;
    gap: 2vh;
}
#details input{
    width: 100%;
    height: 3vw;
    color: black;
    background: #EEEEEE;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    outline: none;
}

#details #sub{
    padding: 10px;  
    align-self: center;
    background-color: #313131;
    color: white;
    border-radius: 15px;
    border-color: #313131;
}

#eventslist{
    background-color: red;
    width: 100%;
    height: 100%;
}
