*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
}

html,
body {
    height: 100vh;
    width: 100%;
    background-color: rgba(183, 180, 177, 0.263);
}

#nav{
    height: 9vh;
    background: linear-gradient(to left bottom, #FC426B 0%, #FF4A2B 80%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    padding-left: 2vw;
    position: relative;
}
#admin-tab {
    height: 100%;
    width: 15%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav a{
    padding: 1vh .9vw;
    font-weight: 400;
    color: white;
    text-decoration: none;
    right: 0;
}
#nav i{
    padding-right: 10px;
}

#main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-pannel{
    margin-top: 5vw;
    width: 60vw;
    height: 70vh;
    display: flex;
    align-items: center;    
    border-radius: 10px;
    overflow: hidden;
}
#user-signin{
    width: 50%;
    height: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#user-signin h1{
    font-weight: 800;
}
#user-signin h5{
    font-weight: 400;
}
#user-signin input{
    width: 20vw;
    height: 3vw;
    color: black;
    background: #EEEEEE;    
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    outline: none;
}
#user-signin #sub-in{
    padding: 10px;
    width: 35%;
    background: linear-gradient(to left bottom, #FC426B 0%, #FF4A2B 80%);
    color: white;
    border-radius: 15px;
    border-color: #FF4A2B;
}

#user-signup{
    width: 50%;
    height: 100%;
    color: white;
    background: linear-gradient(to left bottom, #FC426B 0%, #FF4A2B 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#user-signup h1{
    font-weight: 800;
}
#user-signup h5{
    padding: 1vw 4vw;
    font-weight: 400;
    text-align: center;
}
#user-signup a{
    text-decoration: none;
    color: white;
    border-radius: 15px;
}
#user-signup button{
    padding: 10px 25px;
    width: 100%;
    border-radius: 15px;
    background-color: transparent;
    border-color: white;
    color: white;   
    font-size: 15px; 
    font-weight: 600;
}